body {
    background-color: yellow;
}

#wrapper {
    margin: 100px auto 0 auto;
    width: 600px;
    height: 400px;
}

#logo {
	background:green;
    width: 340px;
    height: 100%;
    float: left;
}

#login {
    width: 250px;
    height: 120px;
    float: right;
}

#signup {
    width: 250px;
    height: 275px;
    margin-top: 5px;
    float: right;
}
.message_area {
	font-family: "Tahoma" sans-serif;
	font-size: 11px;
	min-height: 20px;
	padding: 5px;
	
}

.twidder_form fieldset {
	border: 	none;
	margin: 	0;
	padding:	0;
}

.twidder_form legend {
	line-height:	25px;
	font-family:	"Segooe UI" sans-serif;
	font-size: 		15px;
	font-weight: 	bold;
	text-transform:	uppercase;
}

.twidder_form {
    width: 100%;
    height: 100%;
    background-color: white;
    border: solid 1px black;
}

.twidder_form input, .twidder_form select {
    float: right;
    margin-right: 5px;
    clear: right;
}

.twidder_form label {
    float: left;
    margin-left: 5px;
    height: 23px;
    display: block;
    clear: left;
}

.twidder_form select {
    width: 117px;
}

ul.nav_menu{	
    list-style-type:none;
    padding:0;
    display: inline;
}

ul.nav_menu li{	
    display: inline-block;
    float: left;
}

a.nav_menu:link,a.nav_menu:visited{	
    display:inline-block;
    width:120px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#000000;
    text-align:center;
    padding:4px;
    text-decoration:none;
}
a.nav_menu:hover,a.nav_menu:active{	
    background-color:#383838;
}

#home_content{
    display: block;
}

#browse_content{
    display: none;
}

#account_content{
    display: none;
}

#tab_menu{
    display: inline-block;
}

.main_wrapper{
    width: 480px;
    height: 600px;
    margin: 5% auto;
}

textarea{
    resize: none;
}

article{
    border: solid 1px black;
    background-color: white;
}

.browse_element{
    display: none;
}